body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #7d9a83;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 350px;
    border-radius: 50px;
    background: rgb(46, 114, 61);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: linear-gradient(90deg, rgb(46, 114, 61) 40%, rgb(26, 38, 29) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

p {
    font-size: 1.7em
    
}
